
<div class="border c-verde m-1 area">
    <p>user-list.component</p>
    <div>
        <angapp-user-single
            [showDetail]="showDetail"
            (toggle)="toggle.emit()"
        ></angapp-user-single>
    </div>
    <div>
        <angapp-user-single
            [showDetail]="showDetail"
            (toggle)="toggle.emit()"
        ></angapp-user-single>
    </div>
    <div>
        <angapp-user-single
            [showDetail]="showDetail"
            (toggle)="toggle.emit()"
        ></angapp-user-single>
    </div>
</div>

